<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Hero" value="lanibaldi" />
    <add key="ConsumerKey" value="xxxxxxxxxxxxxxxxxxxxx" />
    <add key="ConsumerSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="AccessToken" value="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="AccessTokenSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" />    
    <add key="CmdLine" value="--vanilla C:\Users\Lanibaldi\Documents\Twitter\twitter_word_cloud.R"/>
    <add key="Exec" value="C:\Program Files\R\R-2.14.2\bin\x64\Rscript.exe"/>
    <add key="PathFile" value="C:\Users\Lanibaldi\Documents\Twitter\Corpora"/>
    <add key="QueueName" value=".\private$\my_tweets"/>
    <add key="CollectionName" value="tweets_mondiali"/>
    <add key="Topics" value="finanza"/>
    <add key="WordCloud" value="true"/>
  </appSettings>
</configuration>
